*

# Track all skills
!.agents/
!.agents/skills/
!.agents/skills/**/
!.agents/skills/**/*
.agents/skills/**/node_modules/
.agents/skills/**/package-lock.json
.agents/skills/ro*

# Track pi extensions
!.pi/
!.pi/agent/
!.pi/agent/extensions/
!.pi/agent/extensions/**/
!.pi/agent/extensions/**/*
.pi/agent/extensions/**/node_modules/

# Track pi themes
!.pi/agent/themes/
!.pi/agent/themes/**
