*

# Track all skills
!.agents/
!.agents/skills/
!.agents/skills/**/
!.agents/skills/**/*
.agents/skills/**/node_modules/
.agents/skills/**/package-lock.json
.agents/skills/ro*

# Track pi extensions
!.pi/
!.pi/agent/
!.pi/agent/extensions/
!.pi/agent/extensions/**/
!.pi/agent/extensions/**/*
.pi/agent/extensions/**/node_modules/

# Track pi themes
!.pi/agent/themes/
!.pi/agent/themes/**

# Track mise config
!.config/
!.config/mise/
!.config/mise/config.toml

# Track kitty config
!.config/kitty/
!.config/kitty/*.conf
.config/kitty/*.bak.*

# Track lazygit config
!Library/
!Library/Application Support/
!Library/Application Support/lazygit/
!Library/Application Support/lazygit/config.yml
